<div id="main">
  <div id='board' class='center tl'>
    <div class='hint tl'>
      <p>1.选择您需要查询的文章</p>
      <p>2.点击按钮查看结果</p>
    </div>

    <%= form_for @article, :remote => true, :id => 'remote_form', :url => articles_path, :html => { :multipart => true } do |form| %>
    <p>
      <%= form.file_field :avatar %>
      <%= submit_tag "查查看", :class => 'button', :onclick => 'return upload_article();' %>
    </p>
    <% end %>
    <div id='result' class='mt20'></div>
  </div>
</div>


