<div id="main">
  <div id='msg' class="alert alert-error hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>请上传txt格式的文章</strong> 
  </div>
  <div id='board' class='center tl'>

    <div class='hint tl'></div>

    <%= form_for @article, :remote => true, :id => 'remote_form', :url => articles_path, :html => { :multipart => true } do |form| %>
    <p>
      <%= form.file_field :avatar, :title => '点击上传您要查询的文章' %>
      <%= submit_tag "查查看", :class => 'button', :onclick => 'return upload_article();' %>
    </p>
    <% end %>
    <div id='result' class='mt20'></div>
  </div>
</div>


