<div id="main">
  <div id='board' class='center tc'>
    <p class='hint center'>找到小朋友的书</p>

    <%= form_for @article, :remote => true, :id => 'remote_form', :url => articles_path, :html => { :multipart => true } do |form| %>
    <p>
      <label for="upload_file"></label>
      <%= form.file_field :avatar %>
    </p>
    <p class='mt20'>
      <%= submit_tag "查查看", :class => 'button' %>
    </p>
    <% end %>
    <div id='result'></div>
  </div>
</div>
