<div class='span5'>
  <img src='assets/home.png'/>
</div>
<div class='span6'>
  <p class='mt20'>
    Find the proper books for the children,
    and help them enjoy reading.
  </p>
  <p class='mt225'>
    <%= link_to '找到合适的书', root_path, :class => 'btn btn-primary btn-large' %>
  </p>
</div>

