<p>
  与书结缘，鉴古知今，其心达也；与书结缘，月朗云飞，其心清也；与书结缘，
  山高水远，其心平也；与书结缘，视人如己，其心和也；与书结缘，漏夜残灯，
  其心静也；与书结缘，物我两忘，其心旷也。与人结缘，人生有味；与书结缘，
  人生无限。阅读是人生的一大乐事，大可以关乎到国家的信仰，小可以涉及到
  家庭的幸福和个人的成长。所以有人说：“一个不读书的民族，是最没有希望的
  民族；一个不读书的家庭是没有的家庭；一个不读书的人，也是很难在社会上
  有重要的价值”。
</p>
<p>
  阅读在中小学语文教学领域中有着重要地位。语文是一门技术
  性学科，单凭教师单一的传授和学生简单的模仿是不能提高学生的语文能力和
  成绩。阅读教学已经陷入了“一头重、一头轻”的困境：中国学生有着过重的课
  业负担，学生被封闭在一个狭小的课堂，学习一些单薄的教材，没有时间去大
  量阅读。这种困境验证影响到学生语文素养的提高。重视阅读得到整个社会的
  认同，叶澜教授提出要以“学生为中心”，我们是否能走一条“以学生为中心”的
  阅读教学之路呢？众所周知，学生的阅读能力培养需要多方面因素，其中最为
  主要的是教师在课堂上训练学生的阅读能力、学生在课外运用已学知识对语文
  的领悟、家长对学生阅读能力的引导。阅读能力的培养是需要日积月累的时间
  和滴水石穿的功夫。根据一线教师的经验，要使学生获得优秀的语文成绩，教
  师和家长可以通过引导学生阅读大量的课外读物来扩充语文知识。学生再将获
  得的语文知识进行深加工后，运用到自己的语文学习中。这种提高语文的方法
  得到了一线教师的多次运用后得到了验证。因此在《全日制义务教育语文课程
  标准(实验稿)》中对阅读的要求为“第一阶段（一、二年级）阅读量要求不少于
  5万字，三到六年级的掌握不低于140万字的阅读量。这一要求的提出强调了培
  养学生的阅读能力仅仅是靠课堂是远远不够的，一名优秀的教师和合格的父母
  更应该鼓励学生爱读书、读好书。
</p>
<p>
  那么什么样的书是好书呢？随着改革开放的
  春雨洒满祖国大地，各式各样的书籍出现在我们的周围。纵观中国的阅读市场，
  适合青少年学生阅读的书籍很多，但是在实际生活中，学生往往在选择课外读
  物时，常常出现误区。我们讲课外阅读开卷有益,而“择卷”更重要,那么帮助孩
  子“择卷”的人,他们是谁?他们是如何影响孩子“择卷”的?  “阅读分级”这一概念
  的理论研究与实践运用在我国才刚刚起步。
</p>
<p>
  小学阅读分级软件，为小学生的课
  外阅读提供一个科学有效的测量工具。
</p>
<p>
  一、小学阅读分级标准的性质<br/>
  阅读能力
  是学生学好语文的坚实基础。小学阅读分级标准致力于培养学生的阅读能力。<br/>
  二、 小学阅读分级标准的理念<br/>
  （一）、引导学生提高语文素养。“通过优秀文
  化的熏陶感染，提高学生的思想道德修养和审美情趣，使他们逐步形成良好的
  个性和健全的人格，促进德、智、体、美诸方面的和谐发展。”<br/>
  （二）、为学生
  课外阅读减负。小学语文分级阅读标准的语料库数据是251426个字。这251426
  个字是人民教育出版社出版的义务教育小学新课程标准语文教材（以下简称人
  教版小学语文教材）一到六年级课文部分的总字数。将课堂内的学习的知识与
  课外阅读相结合，能为学生选择最适合的书，减少学生的阅读挫败感，激发学
  生的阅读兴趣。<br/>
  （三）、设计出软件，倡导自主的学习方式。小学阅读分级标
  准关注每个学生的个体差异和不同的学习需求，激发学生将阅读学习过程变为
  一个积极、主动、探索的过程。<br/>
  三、小学阅读分级标准软件用途小学阅读分级
  标准软件的用途为判断一本书是否符合小学生阅读。该软件可运用的范围为：
  教师、家长可以作为判断读物是否符合小学生独立阅读；判断读物的难易程度；
  教师可以根据课外读物和课文生字率的重合，选择适当的课外读物来巩固课堂
  教学内容。<br/>
  四、小学阅读分级软件的具体使用方法：<br/>
  第一步、将待测书籍的电子版提交到小学阅读分级标准软件；<br/>
  第二步、根据软件运行结果提示，判断该书的难度值；<br/>
  第三步、输出报告，根据难度值来判断待该书是否符合小学生阅
  读。
</p>
