<p class="text">
九年义务教育全日制小学语文教学大纲(试用修订版)》对培养对象小学生的要求
为“小学语文教学应培育学生热爱祖国语言文字和中华优秀文化的思想感情，指导
学生正确地理解和运用祖国语文，丰富语言的积累，使他们具有初步的听说读写
能力，养成良好的语文学习习惯。”韩愈曾经说过“师者，传道授惑解困耶”。作为
一名教师，首要的任务就是将学生培养为具有德智体美劳全面发展的人才。如何
将学生培养为祖国需要的人才呢？在《九年义务教育全日制小学语文教学大纲(试
用修订版) 》提到“语文是最重要的交际工具，是人类文化的重要组成部分”。由
此可知语文是所有教学科目中的基础，那么语文教学中那一板块为最重要的呢？
根据以下小学语文阅读发展的历史，可以看出课外阅读在语文教学中有着重要地
位。
</p>

<p class="text">
传统小学语文课程“主要由识字、写字、阅读和写作构成，组织顺序是两个相
对独立的阶段：第一是以识字为中心的启蒙阶段；第二是进行读写的基础训练。
从阅读内容的组织而言，是与伦理、道德等教育一体化的。”
</p>

<p class="text">
进入新中国时期，1950年教育部颁布了《小学语文课程暂行标准(草
案)》。在这一标准中提出阅读、写话、写字是构成小学语文的核心。而阅读是这
三项中的核心之最。要求写话和写字的内容如能从阅读材料中提取，就必须从阅
读材料中选取。在选择阅读内容上要求的是必须为儿童文学，限定范围为民族化、
大众化。1956年的《小学语文教学大纲(草案)》中提出：阅读、汉语、作文、识
字这四个板块构成了小学语文教学。在阅读板块中要求采用的教学法为讲读法。
阅读选择内容为以社会主义思想为目的的文章。在文学作品中强调要以儿童文学
为主，并结合科学知识方面，将小学自然、地理、历史这三科按照教学大纲的规
定内容相结合。阅读的选择上多是根据当时的政治情况而选择，并没有太多的科
学依据。
</p>
<p class="text">
1963年教育部颁布的教学大纲中提出识字写字、拼音、阅读、作文构成
了小学语文课程。在阅读板块中要求采用的教学法为讲读法，具体为低年级段位
写字和识字的教学同时学习，三年级开始根据课文进行识字练习。在阅读的材料
中在低年级多选择为散文，散文的总体量达到了阅读量的80%，剩余的20%为韵文。
进入中高年级阅读材料中选择了少部分的文言诗歌。在《全日制小学语文教学大
纲(草案)》中规定了每一册的具体课文，从此小学语文课程进入一统江山时代。
在后面的20年中出现的小学语文教学大纲并没有大的改变，基本延续了1963年
《全日制小学语文教学大纲(草案) 》。
</p>
<p class="text">
1988年教育部颁布的教学大纲中提出识字、
写字，听话、说话，阅读、作文成为小学语文课程中的组成部分。同时提出了“小
学语文教学以课堂教学为主，课外活动是语文教学的有机组成部分，课外活动包
括以下几种组织形式，课外阅读、兴趣小组活动和其它语文课外活动。”
</p>
<p class="text">
2000年
颁布的《九年义务教育全日制小学语文教学大纲(试用修订版)》中提出小学语文
课程由五个部分构成：“汉语拼音、识字写字、阅读、习作(写话)、口语交际构成，
其中阅读的改革变化为：规定了课外阅读的具体数量，并且提供了古诗词背诵推
荐篇目”。
</p>
<p class="text">
2001年教育部颁布的教学大纲中在阅读方面出现的变化是第一、主要强
调语文学科的阅读练习与其他学科相结合。第二、提倡自主、合作、探究的学习
方式。从以上语文教程的改变中，我们可以阅读教学有以下几个特点：第一、语
文教学任务的核心要点为阅读板块；第二、均强调课外阅读重要性；第三、阅读
教学中多强调课外阅读以儿童文学为主；第四、阅读教学与识字教学有着千丝万
缕的联系。同时我们发现在如何选择课外阅读中，每个教学大纲只是在主观定义
课外阅读的范围，并没有从客观上来定义课外阅读的范围。美国在这一方面走在
研究的前端，我们可以看看美国关于课外阅读的选择是如何进行的。
</p>
